/* Clase de estilo para los fondos */
.fondo {
	-fx-background-color:  #C0F4F8;
}

/* Clase de estilo para la sombra derecha */
.sombraDerecha {
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.0,3.0,3.0);
}

/* Boton de registro en el Registro */
#btnRegistrarse {
	-fx-background-color: #9EE6FD;
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.0,3.0,3.0);
}

/* Boton de logeo en el Login */
#btnLogin {
	-fx-background-color: #C1D2FE;
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.0,3.0,3.0);
}

/* Imagen de logo del Login */
#stackPaneLogo {
	-fx-padding: 2.0;
	-fx-background-color: #010b15;
	-fx-background-radius: 5.0;
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.0,3.0,3.0);
}

/* Imagen de portada del Login */
#stackPanePortada {
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.0,-3.0,0.0);
}

/* Panel de cabecera */
#paneCabecera {
	-fx-background-color: #6CACF8;
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.0,3.0,3.0);
}

/* Panel del logo de la cabecera */
#stackPaneLogoCabecera {
	-fx-padding: 5.0;
	-fx-background-color: #010b15;
	-fx-background-radius: 60.0;
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.0,3.0,3.0);
}

/* Panel boton inicio cabecera */
.cabeceraBotones {
	-fx-background-color: #F473D8;
	-fx-background-radius: 20.0;
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.0,3.0,3.0);
}

/* Panel de fondo de los datos del perfil */
#paneFondoDatosPerfil {
	-fx-background-color: white; 
	-fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.3), 10.0, 0.0, 3.0, 0.0);
}

/* Panel de fondo de los datos del perfil con sombra en el lado izquierdo */
#paneFondoBorrosoIzquierdo {
	-fx-background-color: white; 
	-fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.3), 10.0, 0.0, -3.0, 0.0);
} 

/* Panel de foto de perfil */
#paneImagenPerfil {
	-fx-padding: 5.0;
	-fx-background-color: #6CACF8;
	-fx-background-radius: 5.0;
	-fx-effect: dropshadow(gaussian , rgba(0.0,0.0,0.0,0.3) , 10.0,0.2,3.0,3.0);
}
